<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/php-fpm-port/code/tests" />
        <option value="$PROJECT_DIR$/CRUD-project/tests" />
        <option value="$PROJECT_DIR$/CRUD-project-advanced/tests" />
      </list>
    </option>
  </component>
</project>